@font-face {
    font-family: MyriadLight;
    src: url('../fonts/Myriad_Pro_Light.ttf');
}
@font-face {
    font-family: MyriadRegular;
    src: url('../fonts/MyriadPro-Regular.otf');
}
@font-face {
    font-family: MyriadBold;
    src: url('../fonts/MyriadPro-Semibold.otf');
}
@font-face {
    font-family: MyriadSuperBold;
    src: url('../fonts/MyriadPro-Bold.otf');
}

html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}
article, aside, div, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
html, body {
  font-family:  Helvetica,Arial;
  height: 100%;
}
body {
	background-color: #fff;
	height: 100%;
	font-family: MyriadRegular;
}

.wrapper {
	height: 100%;
  	height: auto !important;
  	min-height: 100%;
	opacity: 0.99;
}
.wrapper {
	zoom: 1;
}
.container-fluid {
	padding: 0;
}
a {
	color: rgb(23,95,213);
}
/*header--------------------------------------------------------*/
header {
	background-color: rgb(233,244,250);
}
header .phone_wrapper {
	display: inline-block;
	width: 100%;
	float: left;
	background-color: #fff;
	line-height: 35px;
	border-radius: 50px;
	margin-top: 15px;
	font-size: 23px;
	font-family: MyriadSuperBold;
	max-width: 260px;
}
header .phone_wrapper a {
	color: rgb(98,98,98);
}
header .phone_wrapper a:hover {
	color: rgb(23,95,213);
	text-decoration: none;
}
header .phone_wrapper small {
	font-size: 0.8em;
}
.logo_wrapper {
	width: 210px;
	height: 90px;
	margin-top: 5px;
}
.logo_wrapper img {
	width: 100%;
	height: 100%;
}
@media screen and (max-width: 1220px) {
	header .phone_wrapper {
		font-size: 19px;
	}
}

/*navbar---------------------------------------------------*/
.navbar.navbar-default.min_nav {
	background-color: transparent;
	border: none;
	margin-top: 20px;
	margin-bottom: 0px;
}
.navbar.navbar-default.min_nav .container-fluid {
	padding: 0;
}
.nav.navbar-nav .dropdown-toggle .caret {
	margin-left: 4px;
	margin-top: -5px;
}
.nav.navbar-nav li a {
	text-transform: uppercase;
	color: rgb(73,73,73);
	font-size: 14px;
	padding: 0 10px;
}
.nav.navbar-nav li a:hover{
	background-color: transparent;
	color: rgb(189,62,47);
	text-decoration: none;
	border-bottom: 1px solid rgb(189,62,47);
}
.active_navbar_header {
	color: rgb(189,62,47) !important;
	text-decoration: none;
	border-bottom: 1px solid rgb(189,62,47);
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
	background-color: rgb(233,244,250);
	color: rgb(189,62,47);
	text-decoration: none;
}
.navbar-right .dropdown-menu {
	right: -120px;
}
.navbar-right .dropdown-menu li a {
	padding: 5px 10px;
}
.navbar-right .dropdown-menu li a:hover {
	border-bottom: none;
}

.container-fluid > .navbar-header, 
.container-fluid > .navbar-collapse {
	margin: 0;
}
/*.home_link {
	background: url(../img/home.png);
}*/
@media screen and (max-width: 769px) {
	.container-fluid > .navbar-header {
		background-color: rgb(207,228,239);
	}
	.container-fluid > .navbar-header, 
	.container-fluid > .navbar-collapse  {
		margin-bottom: 20px;
	}
}


/*navbar big links------------------------------------------------------------------*/
.big_links_row {
	border-radius: 10px 10px 0 0;
	font-size: 16px;
	position: relative;
}
.big_links_row .strojka {
	border-radius: 10px 0 0 0;
}
.big_links_row .iron {
	border-radius: 0 10px 0 0;
}
.big_links_row .one_link {
	padding: 0;
	display: table;
	position: relative;
}
.big_links_row p.metal,
.big_links_row p.strojka,
.big_links_row p.iron {
    background-image: -webkit-linear-gradient(top, rgb(27,105,231) 0%, rgb(14,78,175) 40%, rgb(10,62,138) 85%, rgb(4,28,64) 100%);
    background-image: -moz-linear-gradient(top, rgb(27,105,231) 0%, rgb(14,78,175) 40%, rgb(10,62,138) 85%, rgb(4,28,64) 100%);
    background-image: -ms-linear-gradient(top, rgb(27,105,231) 0%, rgb(14,78,175) 40%, rgb(10,62,138) 85%, rgb(4,28,64) 100%);
    background-image: -o-linear-gradient(top, rgb(27,105,231) 0%, rgb(14,78,175) 40%, rgb(10,62,138) 85%, rgb(4,28,64) 100%);
    background-image: linear-gradient(to bottom, rgb(27,105,231) 0%, rgb(14,78,175) 40%, rgb(10,62,138) 85%, rgb(4,28,64) 100%);
    height: 80px;
  	padding-left: 40px;
  	padding-right: 40px;
  	border: 1px solid rgb(36,120,190);
  	border-bottom: none;
  	background-color: red;
  	display: table-cell;
  	font-family: MyriadBold;
}
.big_links_row p a {
	text-transform: uppercase;
	color: rgb(255,236,235);
	display: block;
	width: auto;
	height: 100%;
	padding-right: 60px;
	margin-top: 2px;
	padding-top: 8px;
}
.big_links_row p a:hover {
	text-decoration: none;
}
.big_links_row .strojka a {
	background: url('../img/stroika.png') 77% 40% no-repeat;
	padding-top: 15px;
	margin-top: 5px;
	padding-left: 40px;
	padding-bottom: 7px;
}
.big_links_row .metal a {
	background: url('../img/metal.png') 90% 40% no-repeat;
}
.big_links_row .iron a {
	background: url('../img/zbi.png') 90% 40% no-repeat;
}
.big_links_row p:hover {
	background-image: -webkit-linear-gradient(top, rgb(10,59,135) 0%, rgb(10,59,135) 100%);
    background-image: -moz-linear-gradient(top, rgb(10,59,135) 0%, rgb(10,59,135) 100%);
    background-image: -ms-linear-gradient(top, rgb(10,59,135) 0%, rgb(10,59,135) 100%);
    background-image: -o-linear-gradient(top, rgb(10,59,135) 0%, rgb(10,59,135) 100%);
	background-image: linear-gradient(to bottom, rgb(10,59,135) 0%, rgb(10,59,135) 100%);
}
.active_menu {
	background-image: -webkit-linear-gradient(top, rgb(10,59,135) 0%, rgb(10,59,135) 100%) !important;
    background-image: -moz-linear-gradient(top, rgb(10,59,135) 0%, rgb(10,59,135) 100%) !important;
    background-image: -ms-linear-gradient(top, rgb(10,59,135) 0%, rgb(10,59,135) 100%) !important;
    background-image: -o-linear-gradient(top, rgb(10,59,135) 0%, rgb(10,59,135) 100%) !important;
	background-image: linear-gradient(to bottom, rgb(10,59,135) 0%, rgb(10,59,135) 100%) !important;
}

.big_links_row .active_to_top {
	position: absolute;
	top: -15px;
	right: 0;
	left: 0;
	bottom: 0;
}
.big_links_row .strojka.active_to_top a {
	background: url('../img/stroika.png') 77% 15%  no-repeat;
}
.big_links_row .metal.active_to_top a {
	background: url('../img/metal.png') 90% 15%  no-repeat;
}
.big_links_row .iron.active_to_top a {
	background: url('../img/zbi.png') 90% 15%  no-repeat;
}


@media screen and (max-width: 1220px) {
	.big_links_row p.metal,
	.big_links_row p.strojka,
	.big_links_row p.iron {
	  	padding-left: 10px;
	  	padding-right: 20px;
	}
}
@media screen and (max-width: 1000px) {
	.big_links_row p.metal,
	.big_links_row p.strojka,
	.big_links_row p.iron {
	  	padding-left: 0px;
	  	padding-right: 15px;
	  	font-size: 14px;
	  	padding-left: 5px;
	}
	.big_links_row p a {
		padding-right: 0px;
		margin-top: 2px;
		padding-top: 8px;
	}
	.big_links_row .strojka a {
		background: url('../img/stroika.png') right center  no-repeat;
	}
	.big_links_row .metal a {
		background: url('../img/metal.png') right center  no-repeat;
	}
	.big_links_row .iron a {
		background: url('../img/zbi.png') right center  no-repeat;
	}
	.big_links_row .iron.active_to_top a {
		background: url('../img/zbi.png') 100% 15%  no-repeat;
	}
}
@media screen and (max-width: 769px) {
	.big_links_row {
		border-radius: 0;
		margin-bottom: 20px;
	}
	.big_links_row .strojka {
		border-radius: 0;
	}
	.big_links_row .iron {
		border-radius: 0;
	}
	.big_links_row p a {
		padding-left: 40px;
	}
	.big_links_row p.metal,
	.big_links_row p.strojka,
	.big_links_row p.iron {
		height: 50px;
	}
	.big_links_row .active_to_top {
		position: static;
		top: 0px;
	}
	.big_links_row .strojka a {
		background: url('../img/stroika.png') 90% 40% no-repeat;
		padding-top: 11px;
	}
	.big_links_row .metal a {
		background: url('../img/metal.png') 90% 40% no-repeat;
		padding-top: 11px;
	}
	.big_links_row .iron a {
		background: url('../img/zbi.png') 90% 40% no-repeat;
		padding-top: 11px;
	}
	.big_links_row .strojka.active_to_top a {
		background-position: 90% 40%;
	}
	.big_links_row .iron.active_to_top a {
		background: url('../img/zbi.png') 90% 25%  no-repeat;
	}
}
@media screen and (max-width: 450px) {
	.big_links_row p a {
		padding-left: 10px;
	}
	.big_links_row .strojka a {
		background: url('../img/stroika.png') 100% 40% no-repeat;
		padding-top: 11px;
		padding-left: 10px;
	}
	.big_links_row .metal a {
		background: url('../img/metal.png') 100% 40% no-repeat;
		padding-top: 11px;
	}
	.big_links_row .iron a {
		background: url('../img/zbi.png') 100% 40% no-repeat;
		padding-top: 11px;
	}
	.big_links_row .strojka.active_to_top a {
		background-position: 100% 40%;
		padding-left: 10px;
	}
	.big_links_row .metal.active_to_top a {
		background-position: 100% 40%;
	}
	.big_links_row .iron.active_to_top a {
		background-position: 100% 40%;
	}

}
/*hovers--------------------------------------------------------------*/
.hover_cont {
	padding: 0;
	margin: 0;
	margin-top: -25px;
	background-color: rgb(10,59,135);
	width: 100%;
	z-index: 555;
	position: absolute;
	font-family: MyriadRegular;
}
.building_hover,
.metal_hover,
.iron_hover {
	padding: 30px 0 5px;
}
.hover_cont li {
	display: block;
	list-style-type: none;
	width: 25%;
	float: left;
	padding: 5px 0px 5px 25px;
}
.hover_cont li a {
	color: rgb(255,253,254);
	text-decoration: underline;
	font-size: 13px;
}
.hover_cont li a:hover {
	text-decoration: none;
}
.hover_cont p {
	border-top: 1px solid rgb(255,253,254);
	margin: 10px 25px 0;
	padding: 10px 0;
}
.hover_cont p a {
	color: rgb(255,253,254);
	font-size: 13px;
}
@media screen and (max-width: 769px) {
	.hover_cont li {
		width: 50%;
	}
}

/*big picture-------------------------------------------------------------------------*/
.huge_image_wrapper {
	width: 100%;
	height: 504px;
	box-shadow: 0 0 10px #555;
	background: url('../img/fon.jpg') top center no-repeat;
	background-size: 100% 100%;
	padding: 0;
	margin: 0;
	margin-top: -20px;
	z-index: 4;
	position: relative;
}
.on_the_huge_pic {
	height: 504px;
	overflow: hidden;
	font-family: MyriadBold;
	z-index: 44;
}
.image_wrapper_guy {
	width: 80%;
	display: block;
	margin: 0 auto;
	height: 100%;
	position: relative;
	bottom: -10px;	
}
.image_wrapper_guy img {
	height: 100%;
	max-height: 100%;
	width: auto;
}
.huge_image_wrapper article {
	margin-top: 110px;
}
.huge_image_wrapper h6 {
	color: rgb(194,0,0);
	text-transform: uppercase;
	font-size: 38px;
	margin-bottom: 30px;
	font-family: MyriadBold;
}
.huge_image_wrapper h4 {
	color: rgb(255,255,255);
	text-transform: uppercase;
	font-size: 36px;	
	text-shadow: 1px 1px 4px #000;
	font-family: MyriadSuperBold;
}
.huge_image_wrapper h5 {
	color: rgb(255,255,255);
	text-transform: uppercase;
	font-size: 30px;		
	text-shadow: 1px 1px 4px #000;
	font-family: MyriadSuperBold;
}
.wrapper_call_order_btn {
	display: block;
	height: 66px;
	width: 256px;
	position: relative;
	background-color: rgb(86,13,4);
	border-radius: 5px;
}
.call_order_btn {
	display: block;
	text-transform: uppercase;
	color: rgb(255,236,230);
	background-image: linear-gradient(to top, rgb(183,31,10) 0%, rgb(154,33,16) 22%, rgb(211,77,59) 100%);
	height: 60px;
	width: 256px;
	margin-top: 45px;
	font-size: 20px;
	border-radius: 5px;
	line-height: 60px;
	font-family: MyriadRegular;
}
.call_order_btn:hover,
.call_order_btn:focus {
	color: rgb(255,236,230);
	text-decoration: none;
	background-image: linear-gradient(to bottom, rgb(183,31,10) 0%, rgb(154,33,16) 22%, rgb(211,77,59) 100%);
}

@media screen and (max-width: 1300px) {
	.huge_image_wrapper {
		background-size: auto 100%;
	}
}
@media screen and (max-width: 769px) {
	.huge_image_wrapper article {
		text-align: center;
	}
	.wrapper_call_order_btn {
		display: block;
		margin: 0 auto;
	}
}

/*map content main page-------------------------------------------------*/
.cont_with_map {
	padding-top: 65px;
	background-color: rgb(247,248,250);
	color: rgb(140,140,142);
	padding-right: 73px;
	border: 1px solid rgb(189,189,189);
	box-shadow: 0 4px 10px #999,
				inset 0 0 1px 5px rgb(233,244,250);
	position: relative;
	z-index: 1;
	margin-top: -10px;
}
.cont_with_map h3 {
	color: rgb(54,54,54);
	font-size: 38px;
}
.cont_with_map p {
	line-height: 24px;
	font-size: 17px;
}
.cont_with_map .map_wrapper {
	display: block;
	padding: 7px 7px 0;
	box-shadow: 0 0 5px #444;
	height: 264px;
	width: 380px;
	margin-left: 77px;
}
.cont_with_map #map-canvas {
	height: 264px;
	width: 366px;
}
@media screen and (max-width: 1200px) {
	.text_about_company_main_page {
		padding-left: 50px;
	}
}
@media screen and (max-width: 992px) {
	.text_about_company_main_page {
		margin-bottom: 30px;
	}
	.map_wrapper {
		margin: 0 auto;
	}
}
@media screen and (max-width: 520px) {
	.cont_with_map .map_wrapper {
		margin-left: 10px;
	}
	.cont_with_map h3 {
		font-size: 36px;
	}
	.cont_with_map p {
		line-height: 21px;
	}
}
@media screen and (max-width: 430px) {
	.cont_with_map .map_wrapper {
		margin-left: 10px;
	}
	.cont_with_map .map_wrapper {
		height: 264px;
		width: 280px;
	}
	.cont_with_map #map-canvas {
		height: 264px;
		width: 266px;
	}
	.cont_with_map h3 {
		font-size: 36px;
	}
	.cont_with_map p {
		line-height: 21px;
	}
}
/*opinions-------------------------------------------------------------------*/
.main_page_opinions {
	background-color: #fff;
	color: rgb(98,98,98);
	padding-bottom: 87px;
	border: 1px solid rgb(189,189,189);
	box-shadow: 0 0 20px #999;
	z-index: 55;
	position: relative;
	margin-top: -15px;
}
.main_page_opinions h2 {
	color: rgb(54,54,54);
	padding-left: 90px;
	font-size: 38px;
	margin-top: 60px;
	margin-bottom: 36px;
}
.main_page_opinions a,
.main_page_opinions a:hover {
	color: rgb(54,54,54);
}
.main_page_opinions figure article {
	background-color: rgb(246,246,246);
	padding: 35px 30px;
	position: relative;
}
.main_page_opinions figure article:after {
	content: "";
	position: absolute;
	bottom: -30px;
	right: 0;
	display: block;
	width: 30px;
	height: 30px;
	border: 15px solid transparent;
	border-top-color: rgb(246,246,246);
	border-right-color: rgb(246,246,246);
}
.main_page_opinions article a,
.main_page_opinions article a:hover {
	color: rgb(25,96,210);
}
.main_page_opinions figure figcaption {
	font-size: 16px;
	padding-top: 15px;
	padding-right: 25px;
}
.main_page_opinions figure figcaption .person_name {
	color: rgb(54,54,54);
	padding-right: 5px;
	font-family: MyriadBold;
}
.main_page_opinions figure figcaption time {
	color: rgb(140,140,140);
}
@media screen and (max-width: 769px) {
	.main_page_opinions figure {
		margin-bottom: 20px;
	}
}
/*Gallery------------------------------------------------------------------*/
.gallery_main_page {
	background-color: rgb(247,248,250);
	padding-bottom: 50px;
	box-shadow: 0 4px 10px #999,
				inset 0 0 1px 5px rgb(233,244,250);
	margin-top: -10px;
	z-index: 1;
}
.gallery_main_page:before {
	content: "";
	width: 100%;
	box-shadow: 0 4px 10px #999;
}
.gallery_main_page h2 {
	color: rgb(54,54,54);
	padding-left: 90px;
	font-size: 38px;
	margin-top: 60px;
	margin-bottom: 26px;
}
.gallery_main_page figcaption {
	padding: 10px;
}
.gallery_main_page .main_name_gallery {
	color: rgb(188,61,44);
	margin-bottom: 5px;
}
.gallery_main_page figure:hover .main_name_gallery,
.gallery_main_page figure:hover .description_gallery {
	text-decoration: underline;
}
.gallery_main_page .description_gallery {
	color: rgb(140,140,140);
}
.gallery_main_page a:hover {
	text-decoration: none;
}

/*documents main page--------------------------------------------------------*/
.main_page_docs {
	background-color: #fff;
	padding: 85px 0 10px;
	box-shadow: 0 0 20px #999;
	margin-bottom: -90px;
}
.main_page_docs .container .row {
	padding-right: 80px;
	padding-left: 80px;
}
.one_doc_wrapper {
	width: 100%;
	max-width: 300px;
	position: relative;
}
.one_doc_wrapper img {
	width: 90%;
	display: block;
	margin: 0 auto;
	z-index: 20;
	position: relative;
	-webkit-transition: all 0.4s linear;
     -moz-transition: all 0.4s linear;
     -o-transition: all 0.4s linear;
     transition: all 0.4s linear;
}
.look_like_letter {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #fff;
	height: 230px;
	z-index: 55;
	-webkit-transition: all 0.4s linear;
     -moz-transition: all 0.4s linear;
     -o-transition: all 0.4s linear;
     transition: all 0.4s linear;
}
.look_like_shadow {
	background-color: #fff;
	position: absolute;
	bottom: 20px;
	left: 30px;
	right: 30px;
	height: 209px;
	display: block;
	border-radius: 30%;
	box-shadow: 0 0 10px #333;
	z-index: 50;
	-webkit-transition: all 0.4s linear;
     -moz-transition: all 0.4s linear;
     -o-transition: all 0.4s linear;
     transition: all 0.4s linear;
}
.one_doc_wrapper:hover  {
	cursor: pointer;
}
.one_doc_wrapper:hover img {
	transform: translate(0, -70px);
}
.one_doc_wrapper:hover .look_like_letter {
	height: 90px;
}
.one_doc_wrapper:hover .look_like_shadow {
	height: 69px;
}

/*footer------------------------------------------------------------*/
footer {
	display: block;
	width: 100%;
	background-color: rgb(247,248,250);
	border-top: 1px solid rgb(189,189,189);
	padding-top: 30px;
	padding-bottom: 85px;
	position: relative;
}
footer .bottom_row {
	background-color: rgb(10,58,130);
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
footer .bottom_row  p {
	color: #fff;
	font-size: 14px;
	padding-top: 12px;
	padding-bottom: 12px;
}
footer .bottom_row a {
	color: #fff;
}
footer .bottom_row a:hover {
	color: #fff;
	text-decoration: underline;	
}
footer a {
	color: rgb(140,140,142);
	font-size: 15px;
}
footer a:hover {
	color: rgb(21,97,209);
	text-decoration: none;
}
footer li {
	list-style-type: none;
	line-height: 25px;
}
.bold_nav a {
	color: rgb(74,75,77);
	text-shadow: 0px 0px 0.1px #555;
	text-transform: uppercase;
	font-size: 13px;
}
footer address {
	color: rgb(139,139,139);
	background-color: #fff;
	padding: 15px;
}
footer address p {
	font-size: 18px;
}
footer address p a {
	font-size: 23px;
	color: rgb(99,99,99);
	font-weight: bold;
}
footer address p a:hover,
footer address p a:hover small {
	color: rgb(23,95,213);
}
footer address p small {
	font-size: 0.8em;
	color: rgb(139,139,139);
	font-weight: bold;
}

@media screen and (max-width: 1200px) {
	footer address p {
		font-size: 15px;
	}
	footer address p a {
		font-size: 19px;
	}
}
@media screen and (max-width: 989px) {
	footer address p {
		font-size: 19px;
	}
	footer address p a {
		font-size: 23px;
	}
	footer address {
		margin-top: 30px;
	}
	.bold_nav {
		margin-top: 0px;
	}
	.bold_nav li {
		display: inline-block;
		float: left;
		width: 100%;
	}
}
@media screen and (max-width: 768px) {
	.bold_nav {
		margin-top: 30px;
	}
}
@media screen and (max-width: 590px) {
	.bold_nav li {
		display: inline-block;
		float: left;
		width: 100%;
	}
}
@media screen and (max-width: 360px) {
	footer address p a {
		font-size: 20px;
	}
}




/*one devision page--------------------------------------------------------*/
.huge_image_wrapper_one_dev {
	width: 100%;
	height: 90px;
	box-shadow: 0 0 10px #555;
	background: url('../img/big.jpg') top center no-repeat;
	background-size: 100% auto;
	padding: 0;
	margin: 0;
	margin-top: -20px;
	z-index: 4;
	position: relative;
}

.menu_on_dev_page_block {
	background-color: rgb(247,248,250);
	position: relative;
}
/*menu*/
.menu_on_dev_page_block .container {
	position: relative;
}

.menu_slider {
	position: absolute;
	left: 0;
	width: 280px;
	height: 100%;
	min-height: 100%;
	background-color: rgb(11,67,150);
	padding-top: 22px;
	padding-left: 18px;
	border: 1px solid rgb(37,121,191);
	z-index: 5;
}
.menu_slider ul li {
	list-style-type: none;
	line-height: 23px;
	border-left: 2px solid rgb(11,67,150);
	width: 270px;
	float: left;
}
.menu_slider ul li:hover {
	border-left-color: #fff;
}
.menu_slider ul li a {
	color: #fff;
	font-size: 15px;
	font-family: MyriadRegular;
	padding: 4px 5px 3px;
}
.menu_slider ul li a:hover {
	text-decoration: none;
}
.active_menu_item {   /* in aside menu*/
	background-color: rgb(188,61,44); 
	border-radius: 3px;
}
.button_on_menu_slider {
	background-color: rgb(23,96,211);
	position: absolute; 
	right: -40px;
	top: 45%;
	width: 74px;
	height: 74px;
	vertical-align: middle;
	padding-top: 26px;
	border-radius: 50%;
	text-align: right;
	font-size: 21px;
	padding-right: 11px;
	color: #fff;
	z-index: 4;
	opacity: 0.99;
}
.button_on_menu_slider:hover {
	cursor: pointer;
}
.menu_slider .on_the_btn {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 36px;
	height: 74px;
	background-color: rgb(11,67,150);
	border-right: 1px solid rgb(141,176,230);
}
.menu_area_expanded {
	width: 100%;
	-webkit-transition: all 0.7s linear;
     -moz-transition: all 0.7s linear;
     -o-transition: all 0.7s linear;
     transition: all 0.7s linear;
}
@media screen and (max-width: 800px) {
	.menu_area_expanded {
		width: 90%;
	}
}
@media screen and (max-width: 768px) {
	.menu_slider {
		width: 280px;
		height: auto;
		min-height: auto;
	}
}
/*end menu*/


.breadcrumb {
	background-color: #fff;
	padding-left: 0;
}
.breadcrumb li a {
	color: rgb(19,97,208);
	text-decoration: underline;
}
.breadcrumb li.active {
	color: rgb(98,98,98);
}
.breadcrumb > li + li:before {
	content: ">";
	color: rgb(19,97,208);
	padding: 0 10px;
}

.dev_description {
	padding: 20px 20px 60px 85px;
}
.dev_description h1 {
	text-transform: uppercase;
	color: rgb(54,54,54);
	font-size: 42px;
}
.dev_description p {
	color: rgb(138,139,141);
	line-height: 24px;
	font-size: 17px;
}
.dev_description p strong {
	font-family: MyriadBold;
}
.dev_description .breadcrumb {
	background-color: rgb(247,248,250);
	padding-left: 0;
}
/*list of products---------------------------------------------------------------*/
.products_list_short_descr {
	padding-top: 40px;
	background-color: #fff;
	box-shadow: 0 0 20px #555;
	position: relative;
	z-index: 7
}
.img_prod_short_descr {
	width: 100%;
	overflow: hidden;
}
.img_prod_short_descr img {
	width: 100%;
}
.products_list_short_descr .well {
	background-color: #fff;
	position: relative;
	box-shadow: none;
	border: none;
	height: auto;
	min-height: 200px;
	border-radius: 0;
}
.products_list_short_descr .well:hover {
	background-color: rgb(246,246,246);
}
.products_list_short_descr .well a.further_info {
	position: absolute;
	bottom: 40px;
	left: 27%;
}
.one_prod_short_descr a h2 {
	color: rgb(54,54,54);
}
.one_prod_short_descr a:hover {
	text-decoration: none;
}
.one_prod_short_descr p {
	color: rgb(139,139,139);
}

@media screen and (max-width: 768px) {
	.img_prod_short_descr {
		width: 300px;
		overflow: hidden;
	}
	.products_list_short_descr .well a.further_info {
		bottom: 5px;
		left: 70%;
	}
}


/*pne product page------------------------------------------------------*/
.one_item_photo_big_container {
	min-height: 500px;
	padding-top: 40px;
	background-color: #fff;
	box-shadow: 0 0 20px #555;
	position: relative;
	z-index: 7;
}
.one_prod_photo {
	margin-bottom: 30px;
}
.one_prod_img_wrapper {
	width: 100%;
	height: 190px;
}
.one_prod_img_wrapper img {
	width: 100%;
}

.prod_big_call_order_btn {
	display: block;
	height: 50px;
	width: 193px;
	position: relative;
	background-color: rgb(86,13,4);
	border-radius: 5px;
	box-shadow: 0 0 10px #777;
}
.prod_call_order_btn {
	display: block;
	text-transform: uppercase;
	color: rgb(255,236,230);
	background-image: linear-gradient(to top, rgb(183,31,10) 0%, rgb(154,33,16) 22%, rgb(211,77,59) 100%);
	height: 46px;
	width: 193px;
	margin-top: 30px;
	font-size: 16px;
	border-radius: 5px;
	line-height: 46px;
	font-family: MyriadRegular;
}
.prod_call_order_btn:hover,
.prod_call_order_btn:focus {
	color: rgb(255,236,230);
	text-decoration: none;
	background-image: linear-gradient(to bottom, rgb(183,31,10) 0%, rgb(154,33,16) 22%, rgb(211,77,59) 100%);
}


/*opinions page------------------------------------------------------------*/
.opinions_container {
	min-height: 500px;
	padding-top: 30px;
	padding-bottom: 70px;
	position: relative;
	background-color: #fff;
	z-index: 3;
	margin-top: -10px;
}
.opinions_container .breadcrumb  {
	background-color: #fff;
}
.left_opinions_container {
	min-height: 344px;
	padding-top: 40px;
	padding-bottom: 60px;
	background-color: #fff;
	box-shadow: 0 0 15px #777;
	position: relative;
	z-index: 7;
} 

.opinions_container .well {
	width: 90%;
	margin: 20px auto;
	background-color: #fff;
	border: none;
	box-shadow: none;
}
.one_opinion article {
	background-color: rgb(246,246,246);
	padding: 30px 25px;
}
.one_opinion article:before {
	content: "";
	position: absolute;
	left: -15px;
	top: 35%;
	width: 30px;
	height: 30px;
	border: 15px solid #fff;
	border-top-color: rgb(246,246,246);
	border-right-color: rgb(246,246,246);
}
.one_opinion article p {
	color: rgb(98,98,98);
	font-family: MyriadLight;
}
.show_more_opinions {
	position: absolute;
	bottom: -5px;
	left: 0;
	right: 0;
}
.show_more_opinions p {
	display: block;
	text-transform: uppercase;
	height: 50px;
	width: 350px;
	margin: 0 auto;
	background-color: rgb(186,186,186);
	color: rgb(97,97,97);
	line-height: 50px;
	border: 2px solid rgb(157,157,157);
	border-radius: 3px;
}


.send_opinion_btn_big {
	display: block;
	height: 50px;
	width: 193px;
	position: relative;
	background-color: rgb(86,13,4);
	border-radius: 5px;
	box-shadow: 0 0 5px #555;
	margin-right: 15px;
}
.send_opinion_btn {
	display: block;
	text-transform: uppercase;
	color: rgb(255,236,230);
	background-image: linear-gradient(to top, rgb(183,31,10) 0%, rgb(154,33,16) 22%, rgb(211,77,59) 100%);
	height: 46px;
	width: 193px;
	margin-top: 30px;
	font-size: 16px;
	border-radius: 5px;
	line-height: 46px;
	font-family: MyriadRegular;
}
.send_opinion_btn:hover,
.send_opinion_btn:focus {
	color: rgb(255,236,230);
	text-decoration: none;
	background-image: linear-gradient(to bottom, rgb(183,31,10) 0%, rgb(154,33,16) 22%, rgb(211,77,59) 100%);
}
.left_opinions_container h2 {
	font-size: 32px;
	color: rgb(53,53,53);
	margin-bottom: 35px;
}
.form-horizontal .control-label {
	text-align: left;
}
.left_opinions_container form label {
	color: rgb(53,53,53);
	text-transform: uppercase;
	font-size: 20px;
}
.left_opinions_container input {
	border-radius: 0;
	border-color: rgb(185,185,185);
	height: 43px;
}
.left_opinions_container input:focus {
	border-color: rgb(21,96,211);
}
.left_opinions_container textarea {
	border-radius: 0;
	border-color: rgb(185,185,185);
	height: 104px;
}
.left_opinions_container textarea:focus {
	border-color: rgb(21,96,211);	
}

@media screen and (max-width: 1200px) {
	.opinions_container .well {
		width: 100%;
	}
}
@media screen and (max-width: 630px) {
	.one_opinion article {
		margin-left: 30px;
	}
	.one_opinion article:before {
		left: 15px;
	}
}
@media screen and (max-width: 590px) {
	.one_opinion .col-xs-9 {
		width: 100%;
	}
	.one_opinion article {
		margin-left: 0;
		margin-top: 40px;
	}
	.one_opinion article:before {
		left: 55px;
		top: 10px;
		border-top-color: #fff;
		border-right-color: #fff;
		border-bottom-color: rgb(246,246,246);
		border-left-color: rgb(246,246,246);
	}
}


/*projecting page --------------------------------------------------------*/
.projecting_container {
	min-height: 500px;
	padding-top: 30px;
	padding-bottom: 70px;
	position: relative;
	background-color: #fff;
	z-index: 3;
	margin-top: -10px;
	color: rgb(103,104,106);
	background-color: rgb(247,248,250);
}
.types_of_projecting_container {
	min-height: 344px;
	padding-top: 40px;
	padding-bottom: 60px;
	background-color: #fff;
	box-shadow: 0 0 15px #777;
	position: relative;
	z-index: 7;
}
.projecting_container h1 {
	color: rgb(54,54,54);
}
.projecting_container strong {
	color: rgb(23,96,211);
}
.projecting_container .breadcrumb {
	background-color: rgb(247,248,250);
}
.projecting_container p {
	margin-bottom: 33px;
	color: rgb(98,98,98);
}

.types_of_projecting_container h2 {
	border-bottom: 1px solid rgb(198,198,198);
	padding-bottom: 10px;
	margin-bottom: 20px;
}
.types_of_projecting_container .img_wrapper_projecting {
	width: 100%;
	overflow: hidden;
}
.types_of_projecting_container .img_wrapper_projecting img {
	width: 100%;
}
.types_of_projecting_container strong {
	font-family: MyriadBold;
	color: #000;
}
.projecting_stages {
	margin: 65px 0 70px;
}
.projecting_stages figure {
	position: relative;
}

.projecting_stages figcaption {
	text-transform: uppercase;
}
.projecting_stages strong {
	font-family: MyriadBold;
	color: rgb(187,62,44);
	font-size: 18px;
}
.img_wrapper_projecting_stages {
	border-radius: 50%;
	overflow: hidden;
	width: 190px;
	height: 190px;
	display: block;
	margin: 0 auto 10px;
	background-color: #fff;
	border: 15px solid rgb(247,248,250);
	box-sizing: content-box;
}
.img_wrapper_projecting_stages img {
	display: block;
	margin: 40px auto 0;
}
.projecting_stages span {
	position: absolute;
	top: 23px;
	left: 23px;
	display: block;
	width: 47px;
	height: 47px;
	background-color: rgb(23,96,211);
	line-height: 53px;
	text-align: center;
	color: #fff;
	border-radius: 50%;
	box-sizing: content-box;
	border: 6px solid #fff;
	box-shadow: 0 0 1px rgb(23,96,211);
	font-family: MyriadBold;
	font-size: 28px;
}

.projecting_stages figure:hover .img_wrapper_projecting_stages {
	background-color: rgb(23,96,211);
	box-shadow: 0 0 1px  rgb(23,96,211);
}
.projecting_stages figure:hover span {
	display: none;
}

@media screen and (max-width: 470px) {
	.projecting_stages > div {
		float: none;
		clear: both;
		width: 100%;
	}
	.projecting_stages figure {
		height: 270px;
		width: 200px;
		display: block; 
		margin: 20px auto;
	}
	.types_of_projecting_container .row > div {
		float: none;
		clear: both;
		width: 100%;
	}
	.types_of_projecting_container figure {
		max-width: 270px;
		display: block;
		margin: 20px auto;
	}
}


/*contacts page-------------------------------------------------------------------*/
.map_on_cont_page .map_wrapper {
	width: 100%;
	height: 470px;
}
.map_on_cont_page .map_wrapper #map-canvas {
	width: 100%;
	height: 100%;
}
.contacts_container {
	min-height: 220px;
	padding-top: 30px;
	padding-bottom: 70px;
	position: relative;
	background-color: #fff;
	z-index: 3;
	margin-top: -10px;
}
.contacts_container .breadcrumb  {
	background-color: #fff;
}
.contacts_container p {
	font-size: 18px;
	color: rgb(140,140,142);
	margin-bottom: 20px;
}
.contacts_container p strong {
	color: rgb(54,54,54);
	font-family: MyriadRegular;
	font-size: 22px;
	padding-right: 20px;
}
.contacts_container p a {
	color: rgb(140,140,142);
}
.contacts_container p a small {
	color: rgb(139,140,142);
	font-size: 0.9em;
}
.contacts_container p a:hover,
.contacts_container p a:focus,
.contacts_container p a:hover small,
.contacts_container p a:focus small {
	text-decoration: none;
	color: rgb(23,95,213);
}
.contacts_container .phones p {
	margin-bottom: 10px;
}
.contacts_container .phones a {
	color: rgb(98,98,100);
	font-family: MyriadLight;
	font-size: 25px;
}
@media screen and (max-width: 410px) {
	.contacts_container p {
		font-size: 16px;
	}
	.contacts_container .phones a {
		font-size: 18px;
	}
}
/*text pages--------------------------------------------------------------*/
.text_pages_container {
	padding-bottom: 80px;
	padding-left: 25px;
	padding-right: 25px;
}
.text_pages_container .breadcrumb {
	margin-top: 20px;
}
.text_pages_container .lisences {
	margin-top: 50px;
}
.text_pages_container .one_licence_img_wrapper {
	width: 80%;
	max-width: 300px;
	overflow: hidden;
}
.text_pages_container .one_licence_img_wrapper img {
	width: 100%;
}
.text_pages_container p {
	margin-bottom: 15px;
	text-align: justify;
	color: rgb(138,139,141);
	line-height: 24px;
	font-size: 17px;
}
.text_pages_container h1 {
	text-transform: uppercase;
	color: rgb(54,54,54);
	font-size: 42px;
	margin-bottom: 20px;
}

@media screen and (max-width: 590px) {
	.text_pages_container h1 {
		font-size: 35px;
	}
}